<div class="container mt-3 mb-3">
    <div class="row">
        <div class="col-12 mt-3 mb-3" style="text-align: center">
            <img src="https://www.bata.in/on/demandware.static/-/Sites-bata-in-Library/default/vca1a6dc6c6c9dd1e1b2bd451ba8726ee06c054d7/Staticpagesimages/Contact.jpg" alt="" width="70%" height="200px" >
         </div>
        
        <div class="col-12 mt-3 mb-3" style="text-align: center">
           <h3> CONTACT US </h3>
           <h6> Do you need help? You're in the right place!
            We have created this section to provide you with all the assistance you need. </h6> 
        </div>
        <div class="col-4 mt-3 mb-3" style="text-align: center">
            <h4> ADDRESS </h4>
            <p style="text-align: center;">  Sporty shoes India Ltd. 418/02, Sporty shoes house Sector 17, Opposite MDI Gurugram 122001 Haryana India</p> 
        </div>
        <div class="col-4 mt-3 mb-3" style="text-align: center">
            <h4> PHONE </h4>
            <p style="text-align: center;">  18004192282 <br>  
                Monday to Sunday from   10.00 AM to 8.00 PM</p> 
        </div>
        <div class="col-4 mt-3 mb-3" style="text-align: center">
            <h4> E-MAIL </h4>
            <p style="text-align: center;">  For all other customers:
                <br>  in-customer.service@Sportyshoes.com</p>
           
        </div>
    </div>
</div>