<div class="container">


<div class="col-12 align-self-center text-center text-lg-left">
    <h1><strong>TERMS AND CONDITIONS</strong></h1>
    <p><strong>General Terms &amp; Conditions for Exchange/Claims</strong></p>
    <ul>
        <li style="text-align: justify;"><span style="color: black;">Any issue or claim regarding delivery will be
                entertained up to maximum of 30 days from the actual order delivery date provided that the article(s)
                being returned for exchange is unused, clean and in its/ their original state and packaging. Sporty shoes will
                not assume any responsibility or liability and will not entertain any issue or claim, for non-delivery
                after expiry of aforesaid 30 days’ time period.</span></li>
        <li style="text-align: justify;"><span style="color: black;">In case you are not satisfied with your purchase,
                you can exchange any merchandise brought from Sporty shoes Shoe store/www.Sportyshoes.in, within 30 days from the
                original date of purchase, provided that the article(s) being returned for exchange is unused, clean and
                in their original state and packaging.</span></li>
        <li style="text-align: justify;"><span style="color: black;">All articles being returned for exchange/claim must
                be accompanied by original Invoice.</span></li>
        <li style="text-align: justify;"><span style="color: black;">No warranty/guarantee/exchange/refund for articles
                purchased on discount or during sale period</span></li>
        <li style="text-align: justify;"><span style="color: black;">Articles / Product sold under any promotional
                scheme including but not limited to discount coupons / gift coupons issued under any
                promotional/discount scheme of Sporty shoes India Limited or in association with any third party will not be
                eligible for exchange &amp; Claim/Refund.</span></li>
        <li style="text-align: justify;"><span style="color: black;">For exchange/claim, please contact Customer Service
                at 1800-419-2282 or write to us at in-cutomer.care@Sportyshoes.com</span></li>
        <li style="text-align: justify;"><span style="color: black;">For Exchange or Claim, it is mandatory to have the
                article inspected by the store and to return the article to our stores, upon approval of
                exchange/claim</span></li>
        <li style="text-align: justify;"><span style="color: black;">Sporty shoes India, at the first instance,&nbsp;will only
                offer a replacement against any merchandise available at the store, at the time of the exchange/claim
                being made. In case the article or selected size of merchandize as per the choice of customer is not
                available at the store, Sporty shoes India will issue a credit note with a validity of 90 days. Any refund of
                the full/partial invoice value of the purchased merchandize will be the last option and at the
                discretion of the management. </span></li>
        <li style="text-align: justify;"><span style="color: black;">Replacement against exchange/claims will be subject
                to availability of the same product. In case, the same product is not available at the store, then
                replacement will be adjusted against subsequent purchase at the same store or else a credit note of the
                equivalent amount with 90 days validity will be issued to the customer.</span></li>
        <li style="text-align: justify;"><span style="color: black;">The value of the replaced merchandise will be equal
                to the original purchase price of the exchanged/claimed article, as mentioned in the Invoice,
                irrespective of the current price of the exchanged/claimed article, at the time of the exchange/claim
                being made</span></li>
        <li style="text-align: justify;"><span style="color: black;">If the value of the replaced article is less than
                the original value of the exchanged/claimed article,&nbsp;at the first instance, Sporty shoes will issue credit
                note for the remaining value and refund of the remain amount will be last option to be availed at the
                discretion of Sporty shoes.</span></li>
        <li style="text-align: justify;"><span style="color: black;">If the value of the replaced article is more than
                original value, the store will recover the difference in cash against the sale</span></li>
        <li style="text-align: justify;"><span style="color: black;">Exchange/Claims will be entertained at stores till
                5 P.M. only. (Please check store closure days prior to your visit)</span></li>
        <li style="text-align: justify;"><span style="color: black;">The decision of Sporty shoes would be considered final in
                all cases</span></li>
        <li style="text-align: justify;"><span style="color: black;">All disputes subject to exclusive territorial
                jurisdiction of Delhi Courts only.</span></li>
    </ul>
   
</div>
</div>