<div class="container mt-3 mb-3">
    <div class="row marginTopBottom">
        <div class="col-12" style="text-align: center;"> <h4> Footwear </h4>  </div>
        <!-- <div class="col-2" style="margin-top: 1%;  text-align: right;"> <a style="text-decoration: none; color: black; margin-right: 1%;" href=""> View Range </a> </div> -->
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-3" *ngFor="let item of products; index as i;" routerLink="Product"> 
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12 pt-3 pb-3">

                     
                        <img [src]="item.img1" alt=""  width="100%" height="200px" srcset="">
                        </div>
                        <div class="col-12">
                           <b> {{item.name}} </b>
                        </div>
                        <div class="col-12">
                            {{item.price}}
                        </div>
                    </div>
                </div> 
            </div>
        </div>
       
      
    </div>
    </div>
