<div class="container">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col"> Date</th>
            <th scope="col"> Qty</th>
            <th scope="col"> Product Name </th>
            <th scope="col"> Price </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of tempData; index as i;">
            <th scope="row" >{{i +1}}</th>
            <td>{{data.dateOfOrder}}</td>
            <td>{{data.qty}}</td>
      
            <td>{{ data.orderId.name  }}</td>
            <td>{{ data.orderId.price  }}</td>
          </tr>
          
        </tbody>
      </table>
</div>
