
<style>
    .box {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100vh;
      background: linear-gradient(105deg,#6e99e6 ,#093c94);
    }
  </style>
   <div class="box">
   
      <div class="card" style="width:400px">
        
        <div class="card-body">
          <h4 class="card-title">Login </h4>
          <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
            
            <div class="mb-3 mt-3">
              <label for="userName" class="form-label">User Name:</label>
              <input type="text" class="form-control" id="userName" placeholder="Enter User Name" name="userName" formControlName = "userEmail">
            </div>
            <div class="mb-3">
              <label for="pwd" class="form-label">Password:</label>
              <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pswd" formControlName = "password">
            </div>
          
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
         
        </div>
      </div>
  </div>