<style>
    .item-decoration{
        margin: 1%;
    }
    .item-decoration-sub-heading{
        margin-left: 1%;
    }
</style>
<div class="container mt-3 mb-3">
    <div class="row">
        <div class="col-12">
            <h4>
                Sporty shoes - India's favorite footwear brand
            </h4>
        </div>
        <div class="col-12">
            <p class="item-decoration"> Sporty shoes India is the largest retailer and leading manufacturer of footwear in India and is a part of the
                Sporty shoes Shoe Organization.

                Incorporated as Sporty shoes Shoe Company Private Limited in 1931, the company was set up initially as a small
                operation in Konnagar (near Calcutta) in 1932. In January 1934, the foundation stone for the first
                building of Sporty shoes's operation - now called the Sporty shoes. In the years that followed, the overall site was
                doubled in area. This township is popularly known as Sporty shoesnagar. It was also the first manufacturing
                facility in the Indian shoe industry to receive the ISO: 9001 certification.

                The Company went public in 1973 when it changed its name to Sporty shoes India Limited. Today, Sporty shoes India has
                established itself as India's largest footwear retailer. Its retail network of over 1375 stores gives it
                a reach / coverage that no other footwear company can match. The stores are present in good locations
                and can be found in all the metros, mini-metros and towns.

                Sporty shoes's smart looking new stores supported by a range of better quality products are aimed at offering a
                superior shopping experience to its customers.

                The Company also operates a large non retail distribution network through its urban wholesale division
                and caters to millions of customers through over 30,000 dealers.
            </p>
        </div>
        <div class="col-12">
            <h4> Our Values </h4>
            <p class="item-decoration">
            We follow the values of our Parent Company, Sporty shoes Shoe Organization, which are:
            </p>
            <h6 class="item-decoration-sub-heading"> SERVE WITH PASSION </h6>
           <p class="item-decoration">
            We are passionate about delighting our customers. Serving their individual needs defines everything we do.
            It is this passion for what we do that sets us apart from our competitors. We are proud and energized by
            being part of a family company with deeply held values. We have all invested something of ourselves in the
            company and act as if the company was our own. We like to win but not at all costs. We take responsibility
            for how we impact the many and diverse communities in which we operate.
            </p>
            <h6 class="item-decoration-sub-heading"> BE BOLD </h6>
            <p class="item-decoration"> 
            We are pioneers. We value individuals with the courage to change, and to be prepared to fail sometimes. We
            have a healthy dissatisfaction for the status quo. We encourage creativity. We recognize curiosity and
            original thought. Innovation is the foundation stone of our company. We embrace the future but take time to
            learn from the past. We do what we say we will do and do not rest on our laurels. We celebrate success and
            value everyone's unique contribution towards achieving the goal.
            </p>
            <h6 class="item-decoration-sub-heading"> COUNT ON ME </h6>
            <p class="item-decoration"> 
            We lead by example and follow when called. We value those who take accountability for their successes and
            failures. We take responsibility for our own performance and the performance of those around us. We
            encourage and support others to do their best. We place great importance on developing ourselves and those
            around us and we believe that feedback is the breakfast of champions. We share openly with others and we act
            with integrity in all that we do.
            </p>
            <h6 class="item-decoration-sub-heading"> EXCEED CUSTOMER EXPECTATIONS</h6>
            <p class="item-decoration">
            Whether it is products, processes, or people, we are uncompromising when it comes to quality. We strive to
            create products that are easy to buy, exciting to wear, and exceptional value. We strive to be the most
            responsible and efficient in all that we do it order to deliver the best value to our customers. We operate
            where design, comfort and value meet. Delighting the diverse needs and preferences of our customers is our
            lifelong mission.
            </p>
            <h6 class="item-decoration-sub-heading"> IMPROVING LIVES </h6>  
            <p class="item-decoration">
            Making people's lives better has been at the core of the company's philosophy for over 120 years. We do this
            by displaying respect for our customers, suppliers, employees and the communities we touch. We believe that
            we can make a difference in the lives of everyone we touch through openness and tolerance to race, religion
            or cultural differences. We offer an inclusive and supportive work environment to our employees where
            individuality is valued, where people can 'be themselves', and where everyone is encouraged to grow.
            </p>
            <h4>  About Hushpuppies </h4>
            <h6 class="item-decoration-sub-heading"> Our Story </h6>
            <p class="item-decoration">
            Since 1958, we've been leading the casual lifestyle revolution — helping people embrace everyday comfort.
            Our soft, breathable and comfortable footwear invited young families to break the rules, kick back and enjoy
            a comfortable, casual way of living. With over 17 million pairs of shoes sold every year in more than 165
            countries around the world, Hush Puppies is a global brand, a household name and a cultural icon that
            embodies the light-hearted spirit of its beloved basset hound.
            </p>
            <h6 class="item-decoration-sub-heading">
                Our Promise.
            </h6>
            <p class="item-decoration">
            Hush Puppies is the go-to footwear, accessory and apparel brand that delivers the right mix of timeless
            style, dependable comfort and quality.

            Inspire happiness from the shoes up.
            We provide the world's most comfortable and stylish shoes, accessories and apparel to help consumers look
            and feel their best. We know we've done our job when we see people smile—the purest expression of comfort
            and style.
            </p>
        </div>
    </div>
</div>