<div class="container">
    <div class="row">
        <div class="col-12 mt-3 mb-3">
            <img src="https://www.bata.in/on/demandware.static/-/Sites-bata-in-Library/default/vca1a6dc6c6c9dd1e1b2bd451ba8726ee06c054d7/Staticpagesimages/FAQs.jpg" width="100%" alt="">
            <h3 style="text-align: center"> FAQS </h3>
            <b>What kind of footwear can i find in a Sporty shoes Store? </b>
            <p> 
                Sporty shoes is a family store. Thus, you would be able to find all types of footwear for men, women, kids, school
            and sports. We also offer vast varieties of accessories and foot care products. We request you to check out
            our stores for the latest in technology and Brands.
            </p>


            <b> Can I buy Sporty shoes shoe online?</b>
            <p> 
            Yes. Keeping in mind the importance ease of shopping online, we’re launched our new and updated website,
            where the consumer can not only view our catalogue but also make a purchase. In Addition to this, the
            website aims to be a window to the company and to essentially dispense information about the company, its
            products and stores to consumers.
            </p>


            <b> How often do new shoes arrive at the stores? </b>
            <p> 
            New products arrive to the stores almost every week. We launch two collections every year, for Spring-Summer
            and Fall-Winter. Product launches are spaced out to bring to our customers, new styles and fresh products
            throughout the season.
            </p>


            <b> How do I address any quality problem with Sporty shoes shoes? </b> 
            <p> 
            If you encounter any problem with our product, please refer to the store of purchase with the original cash
            memo. The store manager would be able to assist you.
        </p>


            <b>  Can I find same collection online & at Sporty shoes stores?</b>
            <p>
            The collection on our site is only one small part of choices offered in our stores. To know our selection of
            products better, we recommend you to visit our stores. You will find the best offers, and benefit from
            time-to-time promotions. To find the Sporty shoes store nearest to your premise, please proceed to the store
            locator.
            </p>


            <b>  How can i find out if a certain brand is available at Sporty shoes store? </b>
            <p> 
            The Collections section offers a separate segment for Brands and Signature projects. You shall be able to
            view the list of stores retailing the stated brand.
            </p>


            <b>  Does Sporty shoes offer repair for shoes?</b> 
            <p> 
            We do not offer such a facility for the time being.
            </p>


            <b> Is specialized footwear for medical available at the stores? </b> 
            <p> 
            As of now, we do not have specialized footwear for specific medical concerns in our retail stores. However
            it shall be a privilege to be of help to you. We would be delighted to hear from you and assure you that we
            will try our best to address your concerns. Please contact us vie email through our customer service
            section.
            </p>


            <h6>  HUSH PUPPIES FAQ: </h6>
            <b>   What type of footwear can I find in a Hush Puppies store? </b>
            <p>
            Hush Puppies is a family store. Thus, you would be able to find all types of footwear for men, women, kids,
            school and sports. We also offer vast varieties of accessories and foot care products. We request you to
            check out our stores for the latest in technology and Brands.
            </p>
            <b> Can I buy Hush Puppies products online? </b> 
            <p>

           
            Yes. Keeping in mind the importance ease of shopping online, we’re launched our new and updated website,
            where the consumer can not only view our catalogue but also make a purchase. In addition to this, the
            website aims to be a window to the company and to essentially dispense information about the company, its
            products and stores to consumers.
            </p>
            <b> How often do new products arrive in the stores? </b> 
            <p>

            
            New products arrive to the stores almost every week. We launch two collections every year, for Spring-Summer
            and Fall-Winter. Product launches are spaced out to bring to our customers, new styles and fresh products
            throughout the season.
            </p>
            <b> How do I address a quality problem with a shoe? </b> 
            <p> 
            If you encounter any problem with our product, please refer to the store of purchase with the original cash
            memo. The store manager would be able to assist you.
             </p>
            <b> Can I find the same collection on the site and in store? </b> 
             <p>

             
            The collection on our site is only one small part of choices offered in our stores. To know our selection of
            products better, we recommend you to visit our stores. You will find the best offers, and benefit from
            time-to-time promotions. To find the Hush Puppies store nearest to your premise, please proceed to the store
            locator.
            </p>
            <b> How can I find out if a certain brand is available in the store? </b> 
            <p> 
            The Collections section offers a separate segment for Brands and Signature projects. You shall be able to
            view the list of stores retailing the stated brand.
            </p>
            <b> Does Hush Puppies offer facility for shoe repair? </b> 
            <p> 
            We do not offer such a facility for the time being.
            </p>
            <b>  Is specialized footwear for medical problems available in Hush Puppies stores? </b>
            <p> 
            As of now, we do not have specialized footwear for specific medical concerns in our retail stores. However,
            it shall be a privilege to be of help to you. We would be delighted to hear from you and assure you that we
            will try our best to address your concerns. Please contact us vie email through our customer service
            section.</p>
        </div>
    </div>
</div>